
.fuf-upload-progress-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.fuf-upload-progress-bar__label {
  white-space: nowrap;
  font-size: 13px;
  color: #fff;
}

.fuf-upload-progress-bar__progress {
  flex: 1;
}

.fuf-upload-progress-bar__pct {
  white-space: nowrap;
  font-size: 13px;
  min-width: 36px;
  text-align: right;
  color: #fff;
}